-@title=@issue.title

-if not @issue.is_published
  .alert
    %button.close{"data-dismiss" => "alert"} ×
    %strong Warning!
    This issue isn't published yet and can only be seen by admins.
    To publish go to the
    =link_to 'issue edit page.',"/issues/#{@issue.id}/edit"

.row.span8.offset2
  .issueheader 
    .issuetitle=link_to_issue(@issue)
    .issueseason=@issue.season
    .issuedescription=@issue.description

.row            
  #tableofcontents.span8.offset2
    .toc_head Contents
    .tocpieces
      - @pieces.each do |piece|
        .tocpiece
          .title=link_to_piece(piece,true) #in_issue=true
          .author=link_to_author(piece.author)

.pieces{:id=>@issue.url}
  - @pieces.each do |piece|
    %div{:class=>piece.kind}
      .pieceheader{:id=>urlify(piece.title)}
        .title=link_to_piece(piece,false)
        .author=link_to_author(piece.author)
        .pieceheaderbar
      .row
        .piececontents.hyphens.span6.offset3=raw(piece.content)

.row        
  #issue-footer.span1.offset11
    =link_to "↑","#tableofcontents",:class=>'toc-hash-link',:id=>'to-toc-link'
    %span=link_to '→','#',:id=>'to-piece-link'
    
:javascript
  $(document).ready(function() {
   var iphone = screen.width <= 320 
   if (iphone) { return; }

   //if not an iphone

    function filterPath(string) {
      return string
        .replace(/^\//,'')
        .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
        .replace(/\/$/,'');
    }
  
    var sections = $(".pieceheader");  // all content sections
    var toPiecelink = $('#to-piece-link');  
    var issue_title = $('.pieces').attr('id');
    // make array of the tops of content sections, with some padding 
    var topsArray = sections.map(function() { return $(this).position().top - 300; }).get();
    var currentIndex=0;                              
  
    var locationPath = filterPath(location.pathname);
    var padding = -20;
    var speed = 1000;

    $('.toc-hash-link').each(function() {
      var target = this.hash;
      $(this).click(function(event) {
        event.preventDefault();
        $.scrollTo( $(target), speed, {offset:padding});
      });
    });
    
    $(document).scroll(function(e) {

        var getCurrent = function( top ) {   // take the current top position, and see which
            for( var i = 0; i < topsArray.length; i++ ) {   // index should be displayed
                if( top > topsArray[i] && topsArray[i+1] && top < topsArray[i+1] ) { return i; }
            }
            if (top>topsArray[topsArray.length-1]){return topsArray.length-1;} //its the last section
        };    
    
        var scrollTop = $(this).scrollTop();
        var checkIndex = getCurrent( scrollTop );
        console.log(checkIndex,currentIndex)
        if (currentIndex==undefined){ toPiecelink.attr('style','visibility:hidden'); }
        if( checkIndex !== currentIndex ) {
            currentIndex = checkIndex;
            console.log('change',currentIndex,toPiecelink)
            if (checkIndex==undefined){ toPiecelink.attr('style','visibility:hidden') }
            else {
                toPiecelink.attr({
                    'href':( issue_title.concat('/').concat(sections.eq(checkIndex).attr('id')) ),
                    'style':'visibility:visible'
                    });
            }
        }
    });
  });