-if not @issue.is_published
  .alert
    %button.close{"data-dismiss" => "alert"} ×
    %strong Warning!
    This issue isn't published yet and can only be seen by admins.
    To publish go to the
    =link_to 'issue edit page.',"/issues/#{@issue.id}/edit"

.row.span8.offset2
  .issueheader 
    .issuetitle=link_to_issue(@issue)
    .issueseason=@issue.season
    .issuedescription=@issue.description

.row            
  #tableofcontents.span8.offset2
    .toc_head Contents
    .tocpieces
      - @pieces.each do |piece|
        .tocpiece
          .title=link_to_piece(piece,true) #in_issue=true
          .author=link_to_author(piece.author)

.pieces{:id=>@issue.url}
  - @pieces.each do |piece|
    %div{:class=>piece.kind}
      .pieceheader{:id=>urlify(piece.title)}
        .title=link_to_piece(piece,false)
        .author=link_to_author(piece.author)
        .pieceheaderbar
      .row
        .piececontents.hyphens.span6.offset3=raw(piece.content)

.row        
  #issue-footer.span1.offset11
    =link_to "↑","#tableofcontents",:class=>'toc-hash-link',:id=>'to-toc-link'
    %span=link_to '→','#',:id=>'to-piece-link'