= simple_form_for(illustration,:url => { :action => action }) do |f|
  - illustration.errors.full_messages.each do |msg|
    %p=msg
  =f.label :title
  =f.input_field :title
  =f.association :author, :collection => authors
  =link_to '(new author)','/authors/new'
  =f.label :url_external
  =f.input_field :url_external
  =f.association :piece, :collection => pieces,  :label_method => lambda { |p| "#{p.nice_name} (iss. #{p.issue.number})" }
  
  =f.button :submit