= simple_form_for(author, :url => 'authors/create', :method => :post) do |f|
  - author.errors.full_messages.each do |msg|
    %p=msg
  =f.input :first_name
  =f.input :last_name
  =f.input :biography, :input_html => {:style => 'width: 800px'}, :label=>'Biography'
  =f.button :submit

%h2 Biography Preview
#preview_area{:style=>'border: 1px solid black'}

:javascript
  function showPreview(){
    $('#preview_area').html( $('#author_biography').val() );
  };
  $( function() {
      $("label[for='author_biography']").append("<span><a id='preview_bio' href='#'> (preview)</a></span>");
      $( "#preview_bio" ).click( showPreview );
      showPreview();
  } );