= simple_form_for(author, :url => 'authors/create', :method => :post) do |f|
  - author.errors.full_messages.each do |msg|
    %p=msg
  =f.input :first_name
  =f.input :last_name
  =f.input :biography, :input_html => {:style => 'width: 600px; height: 100px'}
  =f.button :submit

%h2 Biography Preview
#preview_area{:style=>'border: 1px solid black; width: 600px'}

:javascript
  function showPreview(){
    $('#preview_area').html( $('#author_biography').val() );
  };
  $( function() {
      $( "#author_biography" ).keyup(function(){showPreview();});
      showPreview();
  } );