-@bodyid='author_page'
.row
  #biopage.span8.offset2
    %span.name=@author.name
    %span.desc=raw(@author.biography)
    .pic=author_photo(@author)

.row.span8.offset2
  #tableofcontents
    .toc_head Pieces
    .tocpieces
      -@pieces.each do |piece|
        .piece-toc
          %span.title #{link_to_piece(piece,true)} - 
          %span.issue=link_to_issue(piece.issue)



  