-@bodyid='author_page'

#biopage
  %span.name=@author.name
  %span.desc=raw(@author.biography)
  .pic=author_photo(@author)

#tableofcontents
  .toc_head Pieces
  .tocpieces
    -@pieces.each do |piece|
      .pieceheader{:id=>'toc-'+urlify(piece.nice_name)}
      .title.donthyphenate=link_to_piece(piece)
      .issue=link_to_issue(piece.issue)



  