:textile
    The Open Review Quarterly is a collaboratively edited literary journal on modern culture.

    bq. Imagine shaking off some layers of self, going outside to look at a plant or otherwise finding brief clarity, then extracting some pearl of resonating personal truth to share.

    h2. Why
    
    The intention is to increase the amount of awesome in the world. Shipping is hard. Everyone needs a little push to create. The ORQ provides a topic to start with, a deadline, and friendly editing to make sharing your writing less intimidating.

    We want your voice. Check out the "next theme":/submit and "start writing":https://docs.google.com/document?command=newdoc&redirectToDocument=true. 

    If your secret weapon is your drawing pen or your radio voice, we want you too. You can illustrate or read for any piece from any issue. Consider them all prompts: take them on in your sketchbook, call your grandma and record yourself reading aloud to her.

    h2. Who
    
    The quarterly is made by three friends who met as instructors for the Wilderness Skills Course at Vanderbilt, in 2006. Amelia and Adam design and publish, Michael edits, and a loose confederation of literary folk review.

    h2. Details

    The web enables collaboration and publishing to be beautiful and free. We go from a google docs folder of pieces to a website with a button push. We share the full rundown on the "tech details":/tech.