.row
  .span6.offset3

    :textile
      The Open Review Quarterly is a collaboratively edited literary journal on modern culture. Founded in 2011, it is currently on sabbatical. We think it will be back one day, we're just not sure when.

      bq. Imagine shaking off some layers of self, going outside to look at a plant or otherwise finding brief clarity, then extracting some pearl of resonating personal truth to share.

      h2. Why

      The intention is to increase the amount of awesome in the world. Shipping is hard. Everyone needs a little push to create. The ORQ provides a topic to start with, a deadline, and friendly editing to make sharing your writing less intimidating.

      h2. Who

      The quarterly is made by three friends who met as instructors for the Wilderness Skills Course at Vanderbilt, in 2006. Amelia and Adam design and publish, Michael edits, and a loose confederation of literary folk review.

      h2. Details

      The web enables collaboration and publishing to be beautiful and free. Check out our project on "github":http://github.com/adamgreenhall/openreviewquarterly.