.row
  .issueannounce.span6.offset3
    %p Current Issue
    .issueheader
      .issuetitle=issue_link(@current_issue) #.title,urlify(@current_issue.title)
      .issueseason=@current_issue.season
      .row
        .issuedescription.donthyphenate.span4.offset1=@current_issue.description

.row    
  .issueannounce.span6.offset3
    %p Past Issues

.olderissues
  -@back_issues.enum_slice(2).to_a.each do |issue_row|
    .row
      -issue_row.each.each_with_index do |issue,i|
        .issueheader.span4{:class=>i==0 ? 'offset2' : ''}
          .issuetitle=issue_link(issue) # issue.title,issue
          .issueseason=issue.season
          .issuedescription=issue.description