.issueannounce
  %h2 Current Issue
  .issuetitle=issue_link(@current_issue) #.title,urlify(@current_issue.title)
  .issueseason=@current_issue.season
  .issuedescription.donthyphenate=@current_issue.description
    
.issueannounce
  %h3 Past Issues

.olderissues
  -@back_issues[1..-1].each do |issue|
    .issuetitle=issue_link(issue) # issue.title,issue
    .issueseason=issue.season
    .issuedescription.donthyphenate=issue.description