-@title='ORQ: the next issue'
.row
  .span6.offset3

    The ORQ is currently on sabbatical. We think it will be back one day, we're just not sure when. Until then, we'd love to continue to hear your stories, but we aren't currently planning an issue.