= simple_form_for(piece,:action => 'update') do |f|
  - piece.errors.full_messages.each do |msg|
    %p=msg
  =f.label :title
  =f.input_field :title
  =f.label :number
  =f.input_field :number
  =f.association :author
  =f.association :issue
  =f.text_area :content, :size => '80x20',:style=>'width: 60em'
  %br
  =f.button :submit
  
  
%h2 Content Preview
#preview_area{:style=>'border: 1px solid black; width: 600px'}

:javascript
  function showPreview(){
    $('#preview_area').html( $('#piece_content').val() );
  };
  $( function() {
      $( "#piece_content" ).keyup(function(){showPreview();});
      showPreview();
  } );  