// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbarBackground: white //bottom of navbar color
$navbarBackgroundHighlight: white //top of navbar color
$navbarLinkColor: lightgray
$navbarLinkColorHover: black
$baseFontSize: 14px
$serifFontFamily: Palatino, Georgia, serif

@import "bootstrap"
@import "bootstrap-responsive"
@import "mixins"
@import url("http://fonts.googleapis.com/css?family=Lora|Alice|IM+Fell+French+Canon+SC|Gentium+Basic:400,400italic")

// html
//   width: 100%
body
  font-family: Palatino, Georgia, serif
  font-size: 20px
  margin-bottom: 20px
  letter-spacing: -0.01em
  line-height: 150%

a
  text-decoration: none
  border-bottom: 1px dashed
  color: $charcoal

ul
  list-style-type: none    

h2
  margin-top: 5ex
  +alicefont


.navbar
  @media (max-width: 767px)
    margin-left: -20px
    margin-right: -20px
  border:
    top: solid 5px $orqblue
    bottom: solid 2px lightgray
  +no-link-underline
  a.brand
    padding-left: 20px
    +no-link-underline
    color: black
  li  
    padding-left: 20px
    +alicefont
    font-size: 14pt
    @media (max-width: 464px)
      font-size: 12pt !important
      padding-left: 5px

.pagefooter
  text-align: center
  margin-top: 80px
  border-top: solid 1px $ghost-gray
  +alicefont
  +no-link-underline 
  color: lightgray
  +link-color(lighten($charcoal,40%),$charcoal)
  .orqlogo
    padding-top: 10px
  .publishingteam
    font-size: 80%
                
