// TODO move rest of site.css.sass to other files
@import 'mixins'    

#contributors
    width: #{4*$contribimgwidth}
    .container
        padding-top: 5px
        margin-left: 0px
        .everytwo
            display: none
        .everythree
            display: block
        .contributor
            height: $contribimgwidth+$contribimgmargin
            width: $contribimgwidth+$contribimgmargin
            // padding-bottom: 20px
            display: table-cell
            +no-link-underline
            +link-color($charcoal,black)
            #pic img
                width: $contribimgwidth
                +single-box-shadow(lighten($ghost-gray,15%),2px,4px)
            #pic img:hover
                +single-box-shadow($orqblue)
                // +single-transition("all",1,"ease-in-out")
            #name
                width: $contribimgwidth
                text:
                    transform: uppercase
                    align: center
                font-size: 60% 
                padding-right: 1ex

#publisherbios
    height: 200px
    margin-bottom: 3ex
    .publisherbio
        float: left
        width: 150px
        text-align: center
        +no-link-underline
        .twitter
            a
                +link-colors($light-blue)
        img
            width: 150px


    
.issuedownload
    text-align: center
    margin-bottom: 5ex
    #title
        font-size: 140%
        color: $charcoal
        margin-bottom: 0.5ex
    #pic
        img 
            width: 350px
            box-shadow: 5px 5px 5px #ccc
            margin-bottom: 5px
    .downloadlink
        margin-right: 2ex        
        
    
.social
    +horizontal-center($content-min-width)
    .container
        margin-left: 85px
    .social-line
        opacity: 0.60
        display: table-row
        .social-button
            display: table-cell
            vertical-align: middle
            padding:
                right: 10px
                left: 10px
            // .like-button
            //     width: 52px
            //     overflow: hidden

