-@bodyid||=''
-@title||='Open Review Quarterly'
!!!
%html.home{:lang => "en"}
  %head
    %title=@title
    =stylesheet_link_tag 'application.css'    
    =javascript_include_tag 'application.js'    
    =analytics_init if Rails.env.production?    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
%body{:id=>@bodyid}
  .navbar
    .navbar-inner
      .container
        =link_to 'Open Review Quarterly','/',:class=>'brand'
        .links
          %ul.nav
            %li=link_to 'about',"/about"
            %li=link_to 'blog',"http://orq.tumblr.com/"
            %li=link_to 'people','/people'
            %li=link_to 'submit','/submit'
  .container
    =yield
    .row
      .pagefooter.span6.offset3
        .publishingteam
          %p a collaborative project from #{link_to 'Michael Ahillen','http://twitter.com/michaelahillen'}, #{link_to 'Amelia Greenhall','http://twitter.com/ameliagreenhall'} & #{link_to 'Adam Greenhall','http://twitter.com/adamgreenhall'}
      